{% extends 'structure.html' %}

{%block corps%}

C'est ici que l'on passe les commandes
<div id = "elem">
    Nombre de cartons: 
    <input 
        type = "text" 
        id="nombre_carton" 
        value="" 
        name="nombre_carton">
    <button @click="order()">envoyer</button>
    [[ message ]]
</div>
<script src='/static/js/order.js'></script>
{%endblock%}