{% extends 'structure.html' %}

{%block corps%}

<div id = "elem">
        
    <button @click="stocks_stat()">stocks</button>
    
    </br>
    <div class="row">
        <div class="col-4">
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            produits
                        </th>
                        <th>
                            stock1
                        </th>
                        <th>
                            stock2
                        </th>
                        
                    </tr>
                    
                </thead>
                <tbody>
                    <tr v-for="(stock,product) in stocks">
                        <td>
                            [[ product ]]
                        </td>
                        <td v-for="(item,key) in stock">
                            [[item]]
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-2">
            <button class="btn" @click="modalprod()">Production</button></br>
            [[ message ]]
        </div>
        <div class="col-6"></div>
    </div>
    <div class="modal fade" id="modprod" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="tototo">Lancement production</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
          
                      Combien de cartons voulez-vous lancer en production?</br>
                      <input id="cart_prod">     
          
          
          
                </div>
                <div class="modal-footer">
                  <button id="boutonClic" @click="prod()" class="btn btn-secondary" data-dismiss="modal">confirmer</button>
                  <button type="button" class="btn btn-danger" data-dismiss="modal">Annuler</button>
          
                </div>
              </div>
            </div>
        </div>
</div>
</br>

    
<script src='/static/js/product.js'></script>
{%endblock%}