<template>
  <v-container>
    <hr />
    <v-layout text-xs-center wrap>
      

      <v-flex mb-5 xs12>
        <h1>WebSocket post</h1>
        <v-text-field v-model="message" label="Regular"></v-text-field>
        <v-btn v-on:click="sendMessage" color="info">Info</v-btn>
        <div>{{ last_message }}, nb={{ nb_message }}</div>
        <hr />
        <ul id="messages"></ul>
      </v-flex>
    </v-layout>
    <hr />
  </v-container>
</template>

<script>
import { mapState, mapGetter, mapActions } from "vuex";
import store from "../store";

export default {
  store,
  data: () => ({
    message: "",
    ws: undefined
  }),
  mounted() {
    console.log("DiagSW mounted !");
    let myvue = this;
    let url = "ws://" + window.location.host + "/ws";
    console.log('URL', url)
    if (url == 'ws://localhost:8080/ws' || url == 'ws://127.0.0.1:8080/ws') {
      console.log('icici')
      this.ws = new WebSocket("ws://localhost:8000/ws");
    } else {
      this.ws = new WebSocket(url);
    }
    this.ws.onmessage = function(event) {
      //TODO: turn into vuejs style
      var messages = document.getElementById("messages");
      var message = document.createElement("li");
      var content = document.createTextNode(event.data);
      message.appendChild(content);
      messages.appendChild(message);
      while (messages.childNodes.length > 15) {
        messages.removeChild(messages.childNodes[0]);
      }
      // publication locale de l'évènnement
      myvue.$store.commit("recieve", event.data);
    };
  },
  methods: {
    sendMessage: function(event) {
      console.log("Sending " + this.message + " ...");
      this.ws.send(this.message);
      this.message = "";
    }
  },
  computed: {
    ...mapState(["last_message", "last_messages", "nb_message"])
  }
};
</script>

<style>
</style>
