<template>
  <v-container>
    <v-layout text-xs-center wrap>
      

      <v-flex mb-4>
        

        

        <div id="svgtarget" />

             

        <div id="charts_temp"></div>
        <div id="charts_hum"></div>
        <div id="charts_pression"></div>
        <hr />

        
      </v-flex>

      
    </v-layout>
  </v-container>
</template>

<script>
//import anime from "lib/anime.es.js";
import anime from "animejs";
import { translate } from "./animate";

export default {
  data: () => ({
    data: [12, 17, 22, 27, 32, 37],
    show_operator_badges: false,
    chartHeight: 100,
    chart_temp: undefined,
  }),
  async mounted() {
    this.chart_temp = Highcharts.chart('charts_temp', {
      chart: {
        type: 'spline',
        animation: Highcharts.svg, // don't animate in old IE
        marginRight: 10,
      },

      time: {
        useUTC: false
      },

      title: {
        text: 'Graphe des températures'
      },
      xAxis: {
        type: 'datetime',
        tickPixelInterval: 50
      },
      yAxis: {
        title: {
            text: 'T°'
        },
        plotLines: [{
            value: 0,
            width: 1,
            color: '#808080'
        }]
      },
      tooltip: {
        headerFormat: '<b>{series.name}</b><br/>',
        pointFormat: '{point.x:%Y-%m-%d %H:%M:%S}<br/>{point.y:.2f}'
      },
      legend: {
        enabled: false
      },
      exporting: {
        enabled: false
      },
      series: [{
        name: 'Température',        
        data: (function () {
            // generate an array of random data
            var data = [],
                time = (new Date()).getTime(),
                i;

            for (i = -49; i <= 0; i += 1) {
                data.push({
                    x: time + i * 1000,
                    y: undefined
                });
            }
            return data;
        }())
      }]
    });
    this.chart_hum = Highcharts.chart('charts_hum', {
      chart: {
        type: 'spline',
        animation: Highcharts.svg, // don't animate in old IE
        marginRight: 10,
        events: {
          /*
            load: function () {

                // set up the updating of the chart each second
                var series = this.series[0];
                setInterval(function () {
                    var self = this ; 
                      axios.get('http://localhost:8000/capteur/hum',
                          {headers: {'Accept': 'application/json'}}
                      ).then(res=>{
                        // console.log(res.data)
                        series.addPoint([res.data.t*1000, res.data.v], true, true);
                        
                        // console.log('check ...', res.data.t)
                        })
                          

                                        ;
                }, 2000);
            }*/
        }
      },

      time: {
        useUTC: false
      },

      title: {
        text: 'Graphe de l\'humidité'
      },
      xAxis: {
        type: 'datetime',
        tickPixelInterval: 50
      },
      yAxis: {
        title: {
            text: '%'
        },
        plotLines: [{
            value: 0,
            width: 1,
            color: '#808080'
        }]
      },
      tooltip: {
        headerFormat: '<b>{series.name}</b><br/>',
        pointFormat: '{point.x:%Y-%m-%d %H:%M:%S}<br/>{point.y:.2f}'
      },
      legend: {
        enabled: false
      },
      exporting: {
        enabled: false
      },
      series: [{
        name: 'Humidité',
        data: (function () {
            // generate an array of random data
            var data = [],
                time = (new Date()).getTime(),
                i;

            for (i = -49; i <= 0; i += 1) {
                data.push({
                    x: time + i * 1000,
                    y: undefined
                });
            }
            return data;
        }())
      }]
    });
    this.chart_pression = Highcharts.chart('charts_pression', {
      chart: {
        type: 'spline',
        animation: Highcharts.svg, // don't animate in old IE
        marginRight: 10,
        events: {/*
            load: function () {

                // set up the updating of the chart each second
                var serie = this.series[0];
                setInterval(function () {
                    var self = this ; 
                      axios.get('http://localhost:8000/capteur/pression',
                          {headers: {'Accept': 'application/json'}}
                      ).then(res=>{
                        // console.log(res.data)
                        serie.addPoint([res.data.t*1000, res.data.v], true, true);
                        
                        // console.log('check ...', res.data.t)
                        })
                          

                                        ;
                }, 2000);
            }*/
        }
      },

      time: {
        useUTC: false
      },

      title: {
        text: 'Graphe des pressions'
      },
      xAxis: {
        type: 'datetime',
        tickPixelInterval: 50
      },
      yAxis: {
        title: {
            text: 'P mP'
        },
        plotLines: [{
            value: 0,
            width: 1,
            color: '#808080'
        }]
      },
      tooltip: {
        headerFormat: '<b>{series.name}</b><br/>',
        pointFormat: '{point.x:%Y-%m-%d %H:%M:%S}<br/>{point.y:.2f}'
      },
      legend: {
        enabled: false
      },
      exporting: {
        enabled: false
      },
      series: [{
        name: 'Pression',
        data: (function () {
            // generate an array of random data
            var data = [],
                time = (new Date()).getTime(),
                i;

            for (i = -99; i <= 0; i += 1) {
                data.push({
                    x: time + i * 1000,
                    y: undefined
                });
            }
            return data;
        }())
      }]
    });
    document.dbg22 = this;

    let src = "/synoptic2.svg";
    let svg = await fetch(src).then(r => r.text());
    //this.$el.innerHTML = svg;
    //console.log("svg", svg);
    var targetNode = document.getElementById("svgtarget");
    targetNode.innerHTML = svg;

    /*
    this.$store.watch(
      (state, getters) => getters.last_message,
      (newValue, oldValue) => {
        console.log(`Updating from last_message ${oldValue} to ${newValue}`);
      },
    );
    */

    /*
    console.log('aaaa');
    this.$store.watch(
      //(state) => state.last_message,
      (state) => state.stock_2_vin,
      //(state) => state.messages['stock.2.etiquette'],
      //(state) => state.stock_2_etiquette,
      (newValue, oldValue) => {
        console.log(`xxxxx stock_2_vin Updating from last_message ${oldValue} to ${newValue}`);
      },
    );
    */

    this.on("stock_2_vin", (newValue, oldValue) => {
      console.log("stock_2_vin ...", newValue);
      document
        .querySelectorAll('[inkscape\\:label="stock_2_vin"]')
        .forEach(node => {
          const tspan = node.querySelector("tspan");
          if (tspan) {
            tspan.innerHTML = newValue;
          }
        });
    });
    this.on("Encap_1_panne", (color) => {
      
      document
      .querySelectorAll('[inkscape\\:label="cercle_Encap1"]')[0]
      .style
      .fill = color
      
    });
    this.on("Encap_2_panne", (color) => {
      
      document
      .querySelectorAll('[inkscape\\:label="cercle_Encap2"]')[0]
      .style
      .fill = color
      
    });
    this.on("Encap_3_panne", (color) => {
      
      document
      .querySelectorAll('[inkscape\\:label="cercle_Encap3"]')[0]
      .style
      .fill = color
      
    });
    this.on("remplisseuse", (color) => {
      
      document
      .querySelectorAll('[inkscape\\:label="cercle_remp"]')[0]
      .style
      .fill = color
      
    });
    this.on("etiqueteuse", (color) => {
      
      document
      .querySelectorAll('[inkscape\\:label="cercle_etiqu"]')[0]
      .style
      .fill = color
      
    });
    this.on("empaqueteuse", (color) => {
      
      document
      .querySelectorAll('[inkscape\\:label="cercle_empaq"]')[0].style.fill = color
      
    
    });
    this.onSetText("pression");
    this.onSetText("hum");
    this.onSetText("temp");
    this.onSetText("date");
    this.onSetText("cartons");
    this.onSetText("Empaq_bouteilles");
    this.onSetText("Encap_1_bouchon");
    this.onSetText("Encap_2_bouchon");
    this.onSetText("Encap_3_bouchon");
    this.onSetText("Encap_1_bout_remp");
    this.onSetText("Encap_2_bout_remp");
    this.onSetText("Encap_3_bout_remp");
    this.onSetText("bout_vide_remp");
    this.onSetText("vin_remp");
    this.onSetText("bout_ne");
    this.onSetText("bout_e");
    this.onSetText("etiquette_etiqueteuse");
    this.onSetText("attente_bouteille");    
    this.onSetText("debug_msg");
    this.onSetText("debug_msg2");
    this.onSetText("maintenance_agent_solde");
    this.onSetText("maintenance_agent_capacity");
    this.onSetText("stock_1_vin");
    this.onSetText("stock_1_bouteille_vide");
    this.onSetText("stock_1_bouchon");
    this.onSetText("stock_1_etiquette");
    this.onSetText("stock_2_bouteille_remplie");
    this.onSetText("stock_2_bouteille_bouchee");
    this.onSetText("stock_2_bouteille_etiquette");
    this.onSetText("stock_3_carton6");


    this.on("chemin_bouteille_remplie", (newValue, oldValue) => {
      var path = anime.path("#cheminBouteilleRemplie");
      anime({
        targets: "#operateur3",
        translateX: path("x"),
        translateY: path("y"),
        // rotate: path("angle"),
        easing: "easeInOutSine",
        duration: 5000,
        loop: false
      });
    });

    this.on("temp", (newValue, oldValue) => {
      this.chart_temp.series[0].addPoint([(new Date()).getTime(), parseFloat(newValue)], true, true);
    })

    this.on("hum", (newValue, oldValue) => {
      this.chart_hum.series[0].addPoint([(new Date()).getTime(), parseFloat(newValue)], true, true);
    })
    this.on("pression", (newValue, oldValue) => {
      this.chart_pression.series[0].addPoint([(new Date()).getTime(), parseFloat(newValue)], true, true);
    })

    console.log("svg mounted !");
  },
  methods: {
    
    go() {
      translate(this.$refs.square);
    },
    on(key, f) {
      /*
      this.$store.watch(key, function callback(old_value, new_value) {
        console.log ...
        svg ...
        chart add
      } )

      */
      this.$store.watch(
        state => state[key],
        (newValue, oldValue) => {
          return f(newValue, oldValue);
        }
      );
    },
    onSetText(key) {
      this.on(key, (newValue, oldValue) => {
        document
          .querySelectorAll('[inkscape\\:label="' + key + '"]')
          .forEach(node => {
            const tspan = node.querySelector("tspan");
            if (tspan) {
              tspan.innerHTML = newValue;
            }
          });
      });
    },
    animate2() {
      // document.querySelectorAll('[inkscape\\:label="gauge"]')
      anime({
        targets: '[inkscape\\:label="gauge"]',
        width: "10%",
        direction: "alternate",
        //transformOrigin: 'bottom center',
        loop: true,
        easing: "easeInOutSine"
      });
      anime({
        targets: ".block",
        translateX: 270,
        duration: 400,
        direction: "alternate",
        loop: true,
        easing: "easeInOutSine"
      });
    }
  }
};

</script>


<style scoped>
.block {
  pointer-events: none;
  position: relative;
  width: 128px;
  height: 128px;
  margin: 1px;
  background-color: currentColor;
  font-size: 12px;
  color: #2c3e50;
}
</style>